header {
    background-color: white;
    border-bottom: solid 3px #902f1e;
}

.hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-top:25vh;
    padding-bottom: 25vh; 
}